.full-width-table {
    width: 80%;
    margin: 20px auto;
}

.content-body {
    width: 90%;
    margin: 20px auto;
}

.mat-form-field {
    margin-right: 12px;
}

.button {
    background-color: blue;
    padding-left: 20px;
}